* {
    margin: 0;
    padding: 0;
}

main {
    height: 100%;
}

.main_container {
    min-width: 320px;
    max-width: 1500px;
    margin: auto;
    max-width: 100%;
    height: fit-content;
    max-height: 100%;
    list-style: none;
    background-image: url("/Projeto-Integrador - IV/src/common/public/map.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}

h1, p {
    position: relative;
    color: white;
    font-family: 'Jost', sans-serif;
}

button:hover {
    transition-duration: 0.5s;
    opacity: 0.7;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.rectangle {
    
    align-items: center;
    text-align: center;
    margin-top: 7%;
    margin-bottom: 10%;
    width: 160vh;
    height: 70vh;
    border-radius: 50px;
    background-image: linear-gradient(to left, black,#343333);
    border: 5px solid gray;
}

a {
    color: white;
}

.btn_supply{
    float: left;
    margin-top: 15%;
    margin-left: 50px;
    font-size: 80px;
    background: linear-gradient(to right, black,#343333);
    color: white;
    font-family: 'Jost', sans-serif;
    border: 5px solid gray;
    font-family: 'Jost', sans-serif;
    box-shadow: rgba(128, 128, 128, 0.4) -5px 5px, rgba(128, 128, 128, 0.3) -10px 10px, rgba(128, 128, 128, 0.2) -15px 15px, rgba(128, 128, 128, 0.1) -20px 20px, rgba(128, 128, 128, 0.05) -25px 25px;
}

.btn_historic{
    float: right;
    margin-top: 15%;
    margin-right: 60px;
    font-size: 80px;
    background: linear-gradient(to right, black,#343333);
    color: white;
    font-family: 'Jost', sans-serif;
    border: 5px solid gray;
    font-family: 'Jost', sans-serif;
    box-shadow: rgba(128, 128, 128, 0.4) 5px 5px, rgba(128, 128, 128, 0.3) 10px 10px, rgba(128, 128, 128, 0.2) 15px 15px, rgba(128, 128, 128, 0.1) 20px 20px, rgba(128, 128, 128, 0.05) 25px 25px;
}

