* {
    margin: 0;
    padding: 0;
}

main {
    height: 100%;
}

.main_container {
    min-width: 320px;
    max-width: 1500px;
    margin: auto;
    max-width: 100%;
    height: fit-content;
    max-height: 100%;
    list-style: none;
    background-image: url("/Projeto-Integrador - IV/src/common/public/map.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}

.container {
    display: grid;
    align-items: center;
    justify-content: center;
}

.rectangle_1 {
    align-items: center;
    text-align: center;
    margin-top: 7%;
    margin-bottom: 10%;
    width: 160vh;
    height: 70vh;
    border-radius: 50px;
    background-image: linear-gradient(to left, black,#343333);
    border: 5px solid gray;
}

.progress{
    font-size: 40px;
    color: white;
    font-family: 'Jost', sans-serif;
    box-shadow: rgba(255, 255, 0, 0.4) 0px 5px, rgba(255, 255, 0, 0.3) 0px 10px, rgba(255, 255, 0, 0.2) 0px 15px, rgba(255, 255, 0, 0.1) 0px 20px, rgba(255, 255, 0, 0.05) 0px 25px;
}

.rectangle_2 {
    align-items: center;
    text-align: center;
    margin-top: 7%;
    margin-bottom: 10%;
    width: 160vh;
    height: 70vh;
    border-radius: 50px;
    background-image: linear-gradient(to left, black,#343333);
    border: 5px solid gray;
    margin-left: 15px;
}

.conclued{
    font-size: 40px;
    color: white;
    font-family: 'Jost', sans-serif;
    box-shadow: rgba(0, 128, 0, 0.4) 0px 5px, rgba(0, 128, 0, 0.3) 0px 10px, rgba(0, 128, 0, 0.2) 0px 15px, rgba(0, 128, 0, 0.1) 0px 20px, rgba(0, 128, 0, 0.05) 0px 25px;

}
