* {
    margin: 0;
    padding: 0;
}

main {
    background-size: cover;
    height: 100%;
}

.main_container {
    min-width: 320px;
    max-width: 1500px;
    margin: auto;
    background-image: url("/src/common/public/image\ 1.svg");
    max-width: 100%;
    height: fit-content;
    max-height: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}
